<html>
<body>
<div>
  <div class="p-col-12">
    <h2 class="display-2">Austrian Map View</h2>
    <p-panel header="Map View Description">
      <p>This is our Austrian Map View.</p>
      <p>Below you can see the Austrian Map separated in regions. Depending on the amount of COVID cases,
      the regions appear in the three different traffic light colours: Red, Orange and Green.</p>
    </p-panel>
  </div>
  <div class="p-field">
    <label>Number of Covid cases:</label>

    <p-inputNumber [(ngModel)]="cases" (onInput)="updateCovid($event)" [step]="100"
                   (ngModelChange)="updateCovid($event)" [showButtons]="true" inputId="minmax-buttons" [min]="0">
    </p-inputNumber>
  </div>
</div>
<div class="austriaMap p-shadow-15"
     leaflet
     [leafletOptions]="options"
     [leafletLayers]="layers">
</div>

</body>
</html>

