<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homepage Overview</title>
</head>
<body>
<div class="p-grid p-nested-grid">
  <div class="p-col-12">
    <h1 class="display-1">COVID-19 Dashboard</h1>
    <p-panel header="Project Explanation">
      <p>This Website was developed as part of our Advanced Software Engineering Project and should give you a
        nice overview of the current pandemic situation.</p>
      <p>You can choose between the general view of the COVID cases displayed in several charts and tables
        or the more region specific Austrian Map views which you can find in the above Tab.</p>
      <p>Hope you like this page and learn some new interesting facts.</p>
      <p> Stay happy and healthy!</p>
      <p> Corinna, Emir, Michael, Manuel, Selene and Chiara :)</p>
    </p-panel>
  </div>
  <div class="p-col-12">
    <div class="overview p-shadow-11">
      <h2 class="display-3">Overview</h2>
      <div class="p-grid">
        <div class="p-col-4">
          <p-card header="Active cases in Austria" style="background: #85e085">
            {{activeCases}}
          </p-card>
        </div>
        <div class="p-col-4">
          <p-card header="Total number of Cases">
            {{numberOfCases}}
          </p-card>
        </div>
        <div class="p-col-4">
          <p-card header="Deaths">
            {{deaths}}
          </p-card>
        </div>
      </div>

      <div class="p-col-12">
        <div class="p-grid">
          <div class="p-col-8 p-offset-2">

            <p-chart *ngIf="positiveCasesPerDateData && positiveCasesPerDateData.datasets.length > 0" type="bar"
                     [data]="positiveCasesPerDateData"></p-chart>
            <p-progressSpinner
              *ngIf="!positiveCasesPerDateData || positiveCasesPerDateData.datasets.length == 0"></p-progressSpinner>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- TODO: change data of the line and pie charts -->
  <div class="p-col-12">
    <p-tabView>
      <p-tabPanel header="Comparison">
        <div class="p-col-12">
              <app-comparison-chart></app-comparison-chart>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Another Chart">
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-6 p-offset-3">
              <p-chart *ngIf="positiveCasesPerDateData && positiveCasesPerDateData.datasets.length > 0" type="bar"
                       [data]="positiveCasesPerDateData"></p-chart>
              <p-progressSpinner
                *ngIf="!positiveCasesPerDateData || positiveCasesPerDateData.datasets.length == 0"></p-progressSpinner>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Hospital Situation">
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-6 p-offset-3">
              <h3>Bed Utilisation in Hospitals</h3>
              <p-chart type="line" [data]="hospitalBedsPerDate"></p-chart>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Sex Distribution">
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-5 p-offset-1">
              <h3>Active Cases Sex Distribution</h3>
              <p-chart type="pie" [data]="sexDistributionCasesData"></p-chart>
            </div>
            <div class="p-col-5 p-offset-1">
              <h3>Death Sex Distribution</h3>
              <p-chart type="pie" [data]="sexDistributionDeathsData"></p-chart>
            </div>
          </div>
        </div>
      </p-tabPanel>

      <!-- TABLE OVERVIEW -------------------------------->
      <p-tabPanel header="Table Overview">
        <!-- TODO: fill tableWithFilter with data -->

        <app-table></app-table>


      </p-tabPanel>
    </p-tabView>
  </div>
</div>
</body>
</html>
