<div class="p-grid p-nested-grid">
  <div class="p-col-12">
    <div class="p-grid">
      <div class="p-col-6"><span>Select the provinces you want to compare</span></div>
      <div class="p-col-4">
        <p-multiSelect style="width: 100%" [(ngModel)]="selectedRegions" [options]="provinces" optionLabel="areaName" (onChange)="regionChanged($event)"></p-multiSelect>
      </div>
       <div class="p-col-6"><span>Select which elements you want to see</span></div>
      <div class="p-col-4">
        <p-overlayPanel #op>
          <ng-template pTemplate>
            <p-listbox [options]="elements" [multiple]="true" [listStyle]="{'max-height':'250px'}">
              <ng-template let-country pTemplate="item">
                <div class="country-item">
                  <span>{{country.label}}</span>
                  <p-selectButton [options]="selectButtonModel" [(ngModel)]="country.val" (onChange)="elementChanged()"></p-selectButton>
                </div>
              </ng-template>
            </p-listbox>
          </ng-template>
        </p-overlayPanel>

        <button type="text" pButton value="Test" label="Basic" (click)="op.toggle($event)"></button>

      </div>

    </div>
  </div>
  <div class="p-col-12">
        <p-chart *ngIf="chartData" [options]="options" [data]="chartData" type="line"></p-chart>
  </div>

</div>
