<div class="p-grid p-nested-grid">
  <div class="p-col-12">
    <div class="p-grid">
      <div class="p-col-6"><span>Select the province/district you want to compare</span></div>
      <div class="p-col-4">
        <button pButton pRipple icon="pi pi-angle-down" iconPos="right" type="button" label="Select areas"
                class="p-button-outlined p-button-secondary" (click)="op.toggle($event)"></button>
        <p-overlayPanel #op>
          <ng-template pTemplate>

            <p-treeTable #tt [scrollable]="true" style="height: 300px" scrollHeight="300px"
                         (onNodeUnselect)="regionChanged()" (onNodeSelect)="regionChanged()" [value]="regionData"
                         selectionMode="checkbox" [(selection)]="selectedDistricts">
              <ng-template pTemplate="caption">
                {{selectedRegionNames}}
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th>
                    <input pInputText type="text"
                           (input)="tt.filter($event.target.value, 'areaName', 'contains');onFilter(tt,$event.target.value);">
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr>
                  <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <p-treeTableCheckbox [value]="rowNode" *ngIf="rowData.selectable"></p-treeTableCheckbox>
                    <p-checkbox *ngIf="!rowData.selectable" name="groupname" [value]="rowData"
                                [(ngModel)]="selectedAreas"
                                (onChange)="regionChanged()"></p-checkbox>
                    {{rowData.areaName}}
                  </td>
                </tr>
              </ng-template>
            </p-treeTable>
          </ng-template>
        </p-overlayPanel>
      </div>
      <div class="p-col-6"><span>Select which elements you want to see</span></div>
      <div class="p-col-4">
        <p-multiSelect [options]="elements" placeholder="Select elements" dropdownIcon="pi pi-angle-down"
                       [(ngModel)]="selectedElements"
                       (onChange)="elementChanged()"></p-multiSelect>
      </div>
    </div>
  </div>
  <div class="p-col-12">
    <p-chart *ngIf="chartData" [data]="chartData" type="line"></p-chart>
  </div>

</div>
