<p-table #generalSituation [value]="data" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
         [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers p-datatable-gridlines"
         [paginator]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [globalFilterFields]="['date','cases','deaths','hospitalBedsSum']">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <em class="pi pi-search"></em>
                    <input pInputText type="text" (input)="generalSituation.filterGlobal($event.target, 'contains')" placeholder="Search keyword" />
                </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Date
          <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
        </div>
      </th>

      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Active Cases
          <p-columnFilter type="text" field="cases" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Deaths
          <p-columnFilter field="deaths" type="text" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Hospitalizations
          <p-columnFilter field="hospitalBedsSum" type="text" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          + / - Cases yesterday
          <p-columnFilter field="compare" type="number" display="menu"></p-columnFilter>
        </div>
      </th>
    </tr>

  </ng-template>


  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{data.date| date: 'dd/MM/yyyy'}}</td>
      <td>{{data.cases}}</td>
      <td>{{data.deaths}}</td>
      <td>{{data.hospitalBedsSum}}</td>
      <td>compareWithYesterday(index)</td>
    </tr>
  </ng-template>


  <ng-template pTemplate="footer">
    <tr>
      <td colspan="1" class="p-text-right">Totals</td>
      <td>{{totalCases}}</td>
      <td>{{totalDeaths}}</td>
      <td>{{totalHospitalizations}}</td>

    </tr>

  </ng-template>
</p-table>
