<p-table #generalSituation [value]="data" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
         [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers p-datatable-gridlines"
         [paginator]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [globalFilterFields]="['date','cases','deaths','hospitalBedsSum']">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <em class="pi pi-search"></em>
                    <input pInputText type="text" (input)="generalSituation.filterGlobal($event.target, 'contains')" placeholder="Search keyword" />
                </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Date
          <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
        </div>
      </th>

      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Active Cases
          <p-columnFilter type="text" field="cases" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Deaths
          <p-columnFilter field="deaths" type="text" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Hospitalizations
          <p-columnFilter field="hospitalBedsSum" type="text" display="menu"></p-columnFilter>
        </div>
      </th>
    </tr>

  </ng-template>


  <ng-template pTemplate="body" let-data let-expanded="expanded">
    <tr>
      <td>
        <button type="button" pButton pRipple [pRowToggler]="data" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td>{{data.date| date: 'dd/MM/yyyy'}}</td>
      <td>{{data.cases}}</td>
      <td>{{data.deaths}}</td>
      <td>{{data.hospitalBedsSum}}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-dataProvince>
    <tr>
      <td colspan="7">
        <div class="p-p-3">
          <p-table [value]="dataProvince" dataKey="date">
            <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="province">Province <p-sortIcon field="province"></p-sortIcon></th>
      <th pSortableColumn="cases">Cases<p-sortIcon field="cases"></p-sortIcon></th>
      <th pSortableColumn="deaths">Deaths<p-sortIcon field="deaths"></p-sortIcon></th>
      <th pSortableColumn="hospitalizations">Hospitalizations<p-sortIcon field="hospitalizations"></p-sortIcon></th>
      <th pSortableColumn="stats">Status<p-sortIcon field="status"></p-sortIcon></th>
      <th style="width: 4rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dataProvince>
    <tr>
      <td>{{dataProvince.province}}</td>
      <td>{{dataProvince.cases}}</td>
      <td>{{dataProvince.deaths}}</td>
      <td>{{dataProvince.hospitalizations}}</td>
      <td><span [class]="'order-badge order-' + dataProvince.status.toLowerCase()">{{data.status}}</span></td>
    </tr>




  <ng-template pTemplate="footer">
    <tr>
      <td colspan="1" class="p-text-right">Totals</td>
      <td>{{totalCases}}</td>
      <td>{{totalDeaths}}</td>
      <td>{{totalHospitalizations}}</td>

    </tr>
  </ng-template>
  </ng-template>
</p-table>
