<div class="p-col-12">
  <div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-6"><span class="dropdown-text">Select the province you want to show</span>
    </div>
    <div class="p-col-12 p-md-4 p-lg-4">
      <app-treedropdown (regionChange)="regionSelected($event[0].areaId)"
                        [initSelected]="areaAustria"
                        [multipleSelection]="false"
                        [regionData]="provinces"></app-treedropdown>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-8 p-offset-1">
      <h3>Active Cases Age and Sex Distribution</h3>
      <p-chart type="bar" [data]="ageSexDistributionData"></p-chart>
    </div>
    <div class="p-d-flex p-flex-column">
        <div class="p-mb-2">
          <p-radioButton name="selection" value="cases" label="Show Cases" [(ngModel)]="selectedValue" (onClick)="selectionChanged()"></p-radioButton>
        </div>
        <div class="p-mb-2">
          <p-radioButton name="selection" value="cured cases" label="Show Cured Cases" [(ngModel)]="selectedValue" (onClick)="selectionChanged()"></p-radioButton>
        </div>
        <div class="p-mb-2">
          <p-radioButton name="selection" value="dead cases" label="Show Dead Cases" [(ngModel)]="selectedValue" (onClick)="selectionChanged()"></p-radioButton>
        </div>
    </div>
  </div>
</div>
