/* You can add global styles to this file, and also import other style files */
html {
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
}

body {
  margin-left: 4rem;
  margin-right: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p-header {
  color: #85e085;
}

.display-1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #85e085;
  text-align: center;
}

.display-2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
  color: #85e085;

}

.display-3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin: 1rem;
  color: #85e085;

}

app-comparison-chart {
  .p-multiselect {
    width: 100%;
    text-align: center;
    padding-left: 16px;
  }
  .p-button {
    width: 100%
  }
  .p-treetable {
    .p-checkbox {
      height: 26px;
    }
  }
  .p-treetable .p-treetable-tbody > tr > td {
    padding: 0;
  }
  .p-treetable .p-treetable-thead > tr > th {
    padding: 0;
  }
  .p-treetable {
    width: 200px;
  }
  .p-button-icon-right {
    margin-right: -4px;
  }

  .p-overlaypanel {
    height: 420px;
  }
  .p-treetable-scrollable-body {
    height: 300px;
  }
  .p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary > .p-button.p-button-outlined, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
    border-color: lightgray;
  }
}

.card-style-active {
  background-color: #85e085
}

.chart-view {
  min-height: 300px;
}
