/* You can add global styles to this file, and also import other style files */
html {
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
}

body {
  margin-left: 4rem;
  margin-right: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p-header {
  color: #85e085;
}
.map-color-legend {
  width: 100%;
  td, th {
    width: 15%;
    padding: 0;
    margin: 0;
    height:10px;
    &.cases-less-100 {
      background-color: #72C600;
    }
    &.cases-greater-100 {
      background-color: #c0de39;
    }
    &.cases-greater-150 {
      background-color: #E5B100;
    }
    &.cases-greater-200 {
      background-color: #E57D00;
    }
    &.cases-greater-250 {
      background-color: #E55E00;
    }
    &.cases-greater-300 {
      background-color: #E50000;
    }
  }
}

.map-info-box {
  span {
    font-weight: bolder;
  }
  color: white;
  font-width: bold;
  font-size: larger;
  background-color: dodgerblue;
  border-radius: 10px;
  ul {
    list-style: none;
    margin-left: -18px;
    margin-right: 18px;
  }
}

.display-1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #85e085;
  text-align: center;
}

.display-2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
  color: #85e085;

}

.display-3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin: 1rem;
  color: #85e085;

}

.data-info {
  font-size: small;
  color: darkred;
  margin: 10px;
}

.dropdown-text {
  font-family: Helvetica;
  font-size: medium;
  line-height: 38px;
}

app-calendar-range-selector {
  .p-calendar {
    width: 100%
  }
}

.app-comparison-chart, app-treedropdown {
  .p-multiselect {
    width: 100%;
    text-align: center;
    padding-left: 16px;
  }
  .p-button {
    width: 100%
  }
  .p-treetable {
    width: 300px;

    input {
      width: 100%;
    }

    .p-checkbox {
      height: 26px;
    }
  }
  .p-treetable .p-treetable-tbody > tr > td {
    padding: 0;
  }
  .p-treetable .p-treetable-thead > tr > th {
    padding: 0;
  }
  .p-button-icon-right {
    margin-right: -4px;
  }

  .p-overlaypanel {
    height: 420px;
  }
  .p-treetable-scrollable-body {
    height: 300px;
  }
  .p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary > .p-button.p-button-outlined, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
    border-color: lightgray;
  }
}

.card-style-active {
  background-color: #85e085
}

.chart-view {
  min-height: 300px;
}
